<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Members Only</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <% if (locals.currentUser) { %>
        <h2>Welcome back, <%= currentUser.username %>!</h2>
    <% } else { %>
        <h2>Hello, there</h2>
    <% } %>

    <% if (locals.messages) { %>
        <div class="messagesContainer">
            <% messages.forEach(function(message) { %>
                <%- include("partials/message.ejs", { message: message }) %>
            <% }); %>
        </div>
    <% } %>
</body>
</html>