<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Message</title>
</head>
<body>
    <h1>New Message</h1>
    <%- include("partials/errors.ejs") %>
    <form action="/new-message" method="POST">
        <label for="title">Title: </label>
        <input type="text" name="title" id="title" required maxlength="30">
        <label for="message">Message: </label>
        <textarea name="message" id="message" required maxlength="255" rows="5"></textarea>
        <button type="submit">Send message</button>
    </form>
</body>
</html>