<div class="message">
  <h3><%= message.title %></h3>
  <p><%= message.message %></p>
  <p><%= message.time.toString().split("GMT")[0] %></p>
  <% if (currentUser) { %>
    <h4><%= message.username %></h4>
  <% } %>
</div>